<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Parenting Goals Main Event Page</title>

    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap}"/>

    <script type="text/javascript" th:src="@{/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/client.js}"></script>

</head>
<body>
<h1>PARENTING GOALS [###]</h1>
<h2>STATS PAGE</h2>


<p>
    <button id = "navEven" >Event Entry Page</button>
</p>
<p>
    <button id = "navPlay" >To Play Entry Page</button>
</p>



<form>
    <div id="container"></div>
</form>



</body>
</html>